<section class="mbr-section mbr-section-hero mbr-section-full" id="create-page">
        <div class="create-container">
            <div>
            <% if@user %>
                <% if @user.errors.any? %>
                <div id="error_explanation">
                <h4>Whoops! Looks like something you entered wasn't quite right...</h4>
                 <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                    <% end %>
                 </ul>
                </div>
                <% end %>
                <% end %>
            
                <%= form_for :user, method: 'post', url: '/users' do |f| %>
                <b>Name: <br><%= f.text_field :name %><br><br>  
                Username: <br><%= f.text_field :user_name %><br><br>  
                Email: <br> <%= f.text_field :email %><br><br>  
                Password:<br><%= f.password_field :password %><br><br>  
                Password Confirmation: <br><%= f.password_field :password_confirmation %><br><br>  
                <%= f.submit "Create that account, Champ!" %>
                <% end %></b>
            </div>
        </div>
    </section>