<link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet">
<section class="mbr-section mbr-section-hero mbr-section-full" id="user-show-page">
    <div class="profile-container">
        <div class="profile-content-user">
            <div class="item-1">
                <div class="monster-content">
                    <%= image_tag ("/assets/cookie.png"), class: "mbr-figure"%>
                </div>
                 <div class="monster-button">
                    <%= link_to 'LOGOUT', logout_path, :class => "btn btn-black" %>
                </div>
            </div>
            <div class="item-2">
                <div class="item-2-content">
                    <h1>Welcome <%= @user.name %>!</h1><br> 
                    <h2>Username: <%= @user.user_name %><br>
                    <br>Email: <%= @user.email %><br>
                    <% if has_friendship? %>
                    <br><% @buddy = current_buddy %>
                    <br>Your Friend: <br>
                    <div id="name-font">
                        <br><%= @buddy.name %>  
                    </div>
                    <% end %></h2>
                </div>
            </div>
            <div class="item-3">
                <!-- if user has friendship, display friend image and adventure button, else display find friend button -->
                <% if has_friendship? %>
                    <% @buddy = current_buddy %>
                    <div class="friend-picture">
                        <%= image_tag ("/assets/buddies_imgs/#{@buddy.img_num}.png"), class: "mbr-figure"%>                
                    </div>
                    <div class="friend-buttons">
                        <%= link_to 'GO ON AN ADVENTURE!', '/activities/index', :class => "btn btn-black" %><br><br> 
                        <br><%= link_to 'LEAVE YOUR FRIEND 😥', 'leave_friendship', :class => "btn btn-black" %>
                        <%else%>
                        <%= link_to 'FIND A FRIEND', '/find_a_friend', :class => "btn btn-black" %>
                <%end%>
                    </div>
            </div>
        </div>
    </div>
</section>







        <!-- <div class="profile-content-friend">
            <h1>Hello</h1>
        </div> -->
<!-- 
    <div class="menu-container">
        <div class="user-menu-option-1">
            <h1>OPTION 1</h1>
        </div>
        <div class="user-menu-option-2">
            <h1>OPTION 2</h1>
        </div>
        <div class="user-menu-option-3">
            <h1>OPTION 3</h1>
        </div>
    </div> -->

