<!DOCTYPE html>
<html>
  <head>
    <title>Friend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/et-line-font-plugin/style.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/tether/tether.min.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/animate.css/animate.min.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/theme/css/style.css">
    <link rel="stylesheet" href="https://mobirise.com/free-template/app-showcase-demo/assets/mobirise/css/mbr-additional.css" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>

    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/tether/tether.min.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/dropdown/js/script.min.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/viewport-checker/jquery.viewportchecker.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/jarallax/jarallax.js"></script>
    <script src="https://mobirise.com/free-template/app-showcase-demo/assets/theme/js/script.js"></script>

    <input name="animation" type="hidden">
    
  </body>
</html>
